body {
    align-items: center;
    background-attachment: fixed;
    background-color: #898e74;
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    font-family: Arial, sans-serif;
    height: 100vh;
    justify-content: center;
    margin: 0;
}


h1 {
    margin-bottom: 20px;
}


.panel {
    background-color: #000000e7;
    border-radius: 10px;
    box-shadow: 0 10px 28px rgba(93, 238, 57, 0.801);
    color: rgba(42, 201, 2, 0.555);
    max-width: 400px;
    padding: 20px;
    text-align: center;
    width: 100%;
}

