body {
    align-items: center;
    background-attachment: fixed;
    background-color: #898e74;
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    font-family: Arial, sans-serif;
    height: 100vh;
    justify-content: center;
    margin: 0;
}

.content {
    display: none;
}

.flash-messages {
    list-style-type: none;
    padding: 0;
}

.flash-messages li {
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 10px;
    padding: 10px;
}

.flash-messages li.error {
    background-color: #dc3545;
    color: white;
}

.flash-messages li.info {
    background-color: #17a2b8;
    color: white;
}

.flash-messages li.success {
    background-color: #28a745;
    color: white;
}

.flash-messages li.warning {
    background-color: #ffc107;
    color: black;
}

form {
    margin-bottom: 20px;
}

h1 {
    margin-bottom: 20px;
}

input[type="email"],
input[type="password"],
input[type="text"] {
    background-color: #313030e7;
    border: 1px solid rgba(42, 201, 2, 0.555);
    border-radius: 5px;
    color: rgba(42, 201, 2, 0.555);
    margin-bottom: 10px;
    padding: 10px;
    width: calc(100% - 20px);
}

input[type="submit"],
button {
    background-color: #000000e7;
    border: none;
    border-radius: 5px;
    color: rgba(42, 201, 2, 0.555);
    cursor: pointer;
    margin-bottom: 10px;
    padding: 10px;
    width: calc(100% - 20px);
}

input[type="submit"]:hover,
button:hover {
    background-color: #313030e7;
}

label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

.panel {
    background-color: #000000e7;
    border-radius: 10px;
    box-shadow: 0 10px 28px rgba(93, 238, 57, 0.801);
    color: rgba(42, 201, 2, 0.555);
    max-width: 400px;
    padding: 20px;
    text-align: center;
    width: 100%;
}

ul {
    list-style: none;
    margin-bottom: 10px;
    padding: 0;
}

.visible {
    display: block;
}