<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel Administratora</title>
    <link rel="icon" href="/static/css/favicon.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>

<!--------------------------------------------------------------------HEADER-------------------------------------------------------------------->

    <header>


        <div class="info">
            <img src="/static/css/geekoczelnia banner.png" alt="GEEKoczelnia banner">
        </div>
        
        
    
        <div class="flash">
        {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul class="flash-messages">
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
        {% endwith %}
        </div>

        <div class="contact">
            <form method="POST" action="/contact">
                <button type="submit">Kontakt</button>
            </form>
        </div>
    
    </header>


<!--------------------------------------------------------------------GŁÓWNY PANEL-------------------------------------------------------------------->

    
<div class="container">

    <div class="panel" >

        <div class="avatar">
            <img src="{{ zdjecie }}" alt="Przesłane zdjęcie">
        </div>

        <h1>Witaj {{ user.imie }} {{ user.nazwisko }}!</h1>
        <form method="POST" action="/admin">
            <button name="view" value="home" type="submit">Strona główna</button>
            <button name="view" value="wykladowcy" type="submit">Wykładowcy</button>
            <button name="view" value="requests_wykladowcy" type="submit">Rejestracje wykładowców</button>
            <button name="view" value="students" type="submit">Studenci</button>
            <button name="view" value="kierunki" type="submit">Kierunki</button>
            <button name="view" value="requests_kierunki" type="submit">Rejestracje na kierunki</button>
            <button name="view" value="calendar" type="submit">Kalendarz</button>
            <button name="view" value="przedmioty" type="submit">Przedmioty</button>
            <button name="view" value="grupy" type="submit">Grupy</button>
            <button name="view" value="zajecia" type="submit">Zajecia</button>
            <button name="view" value="egzaminy" type="submit">Egzaminy</button>
            <button name="view" value="statystyki" type="submit">Statystyki</button>
            <button name="view" value="wiadomosci" type="submit">Wiadomości</button>
            <button name="view" value="dane" type="submit">Edytuj dane</button>
        </form><br>
        <form action="{{ url_for('geekoczelnia.logout') }}" method="post">
            <button type="submit">Wyloguj się</button>
        </form>

       

    </div>
<!--------------------------------------------------------------------HOME-------------------------------------------------------------------->
    <div class="content {% if selected_view == 'home' %}visible{% endif %}">
        <h2>Strona główna</h2>
        <p>Wybierz opcję z panelu, aby zobaczyć odpowiedni widok.</p>
    </div>

<!--------------------------------------------------------------------LISTA WYKŁADOWCÓW-------------------------------------------------------------------->
    <div class="content {% if selected_view == 'wykladowcy' %}visible{% endif %}">
        <h2>Lista wykładowców</h2>
        <table border="1" cellpadding="6" cellspacing="0">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th>Email</th>
                    <th>Rola</th>
                    <th>Akcje</th>

                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                {%if user.rola == "Wykładowca" %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.imie }}</td>
                    <td>{{ user.nazwisko }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.rola }}</td>
                    
                    
                    
                    <td>
                        <form method="POST" action="{{ url_for('geekoczelnia.delete_user', user_id=user.id) }}" style="display: inline;">
                            <button type="submit" onclick="return confirm('Czy na pewno chcesz usunąć tego użytkownika?')">Usuń</button>
                        </form>
                        
                    </td>
                </tr>
                {%endif%}
                {% endfor %}
            </tbody>
        </table>
    </div>
<!--------------------------------------------------------------------REJESTRACJE WYKŁADOWCÓW-------------------------------------------------------------------->
    <div class="content {% if selected_view == 'requests_wykladowcy' %}visible{% endif %}">
        <h2>Lista rejestracji wykładowców</h2>
        <table border="1" cellpadding="5" cellspacing="0">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th>Email</th>
                    <th>Rola</th>
                    <th>Akcje</th>
                </tr>
            </thead>
            <tbody>
                {% for request in requests %}
                <tr>
                    <td>{{ request.id }}</td>
                    <td>{{ request.imie }}</td>
                    <td>{{ request.nazwisko }}</td>
                    <td>{{ request.email }}</td>
                    <td>{{ request.rola }}</td>
                    <td>
                        <form method="POST" action="{{ url_for('geekoczelnia.accept_request', request_id=request.id) }}" style="display: inline;">
                            <button type="submit">Akceptuj</button>
                        </form>
                        <form method="POST" action="{{ url_for('geekoczelnia.reject_request', request_id=request.id) }}" style="display: inline;">
                            <button type="submit">Odrzuć</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
<!--------------------------------------------------------------------LISTA STUDENTÓW-------------------------------------------------------------------->
    <div class="content {% if selected_view == 'students' %}visible{% endif %}">
        <h2>Pobierz czesne</h2>
        <form method="POST" action="{{ url_for('geekoczelnia.bulk_payment') }}" style="display: inline;">
            <label for="title">Tytuł</label>
            <input type="text" name="title" id="title" required><br>
        
            <label for="ammount">Kwota</label>
            <input type="number" name="ammount" id="ammount" required><br><br>
        
            <input type="submit" value="Pobierz płatność">
        </form>

        <h2>Lista studentów</h2>
        <table border="1" cellpadding="6" cellspacing="0">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th>Email</th>
                    <th>Rola</th>
                    <th>Saldo</th>
                    <th>Płatności</th>
                    <th>Akcje</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                {%if user.rola == "Student" %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.imie }}</td>
                    <td>{{ user.nazwisko }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.rola }}</td>
                    <td>
                        
                            {% for konto in konta_bankowe %}
                                {% if user.id == konto.student_id %}
                                    {{ konto.saldo }} zł
                                {% endif %}
                            {% endfor %}
                        
                    </td>
                    
                    <td>
                        
                        <form method="POST" action="{{ url_for('geekoczelnia.get_payment', user_id=user.id) }}" style="display: inline;">
                            <label for="title">Tytuł:</label>
                            <input type="text" name="title" id="title" required><br>
        
                            <label for="ammount">Kwota:</label>
                            <input type="number" name="ammount" id="ammount" required><br>
        
                            <input type="submit" value="Pobierz płatność">
                        </form>
                        
                    </td>
                    
                    <td>
                        <form method="POST" action="{{ url_for('geekoczelnia.delete_user', user_id=user.id) }}" style="display: inline;">
                            <button type="submit" onclick="return confirm('Czy na pewno chcesz usunąć tego użytkownika?')">Usuń</button>
                        </form>
                        
                    </td>
                </tr>
                {%endif%}
                {% endfor %}
            </tbody>
        </table>
    </div>

<!--------------------------------------------------------------------REJESTRACJE NA KIERUNKI-------------------------------------------------------------------->
    <div class="content {% if selected_view == 'requests_kierunki' %}visible{% endif %}">
        <h2>Lista rejestracji na kierunki</h2>
        <table border="1" cellpadding="5" cellspacing="0">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th>Email</th>
                    <th>Rola</th>
                    <th>Kierunek id</th>
                    <th>Kierunek nazwa</th>
                    <th>Grupa</th>
                    <th>Akcje</th>
                </tr>
            </thead>
            <tbody>
                {% for request in requests_kierunki %}
                <tr>
                    <td>{{ request.id }}</td>
                    <td>{{ request.imie }}</td>
                    <td>{{ request.nazwisko }}</td>
                    <td>{{ request.email }}</td>
                    <td>{{ request.rola }}</td>
                    <td>{{ request.kierunek }}</td>
                    <td>
                        {% for kierunek in kierunki %}
                            {% if kierunek.id == request.kierunek | int %}
                                {{ kierunek.nazwa }}, <b>{{kierunek.typ}}</b>
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        <form method="POST" action="{{ url_for('geekoczelnia.accept_request_kierunek_wybrany') }}" style="display: inline;">
                            <input type="hidden" name="user_email" id="user_mail" value="{{ request.email }}">
                            <input type="hidden" name="kierunek" value="{{ request.kierunek }}">
                            <input type="hidden" name="request_id" value="{{ request.id }}">
                            <select name="grupa" id="grupa">
                                {% for grupa in grupy %}
                                    {% if grupa.kierunek == request.kierunek %}
                                        <option value="{{ grupa.id }}">{{ grupa.nazwa }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                    </td>   
                    <td>                   
                            <button type="submit">Akceptuj</button>
                        </form>
                        <form method="POST" action="{{ url_for('geekoczelnia.reject_request_kierunek') }}" style="display: inline;">
                            <input type="hidden" name="request_id" value="{{ request.id }}">
                            <button type="submit">Odrzuć</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


<!--------------------------------------------------------------------LISTA KIERUNKÓW-------------------------------------------------------------------->
    <div class="content {% if selected_view == 'kierunki' %}visible{% endif %}">
        <form method="POST" action="/admin">
            <button name="view" value="add_kierunek" type="submit">Dodaj nowy kierunek</button>
        </form>
        <h2>Lista kierunków</h2>
        <table border="1" cellpadding="5" cellspacing="0">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nazwa</th>
                    <th>Typ</th>
                    <th>Opis</th>
                </tr>
            </thead>
            <tbody>
                {% for kierunek in kierunki %}
                <tr>
                    <td>{{ kierunek.id }}</td>
                    <td>{{ kierunek.nazwa }}</td>
                    <td>{{ kierunek.typ }}</td>
                    <td>{{ kierunek.opis }}</td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


<!--------------------------------------------------------------------REJESTRACJA KIERUNKÓW-------------------------------------------------------------------->
    <div class="content {% if selected_view == 'add_kierunek' %}visible{% endif %}">
        <form method="POST" action="/add_kierunek">
                <label for="nazwa">Nazwa kierunku:</label><br>
                <input type="text" id="nazwa" name="nazwa" required><br><br>
        
                <label for="typ">Typ:</label><br>
                <select id="typ" name="typ" required>
                    <option value="Dzienne">Dzienne</option>
                    <option value="Zaoczne">Zaoczne</option>
                </select><br><br>
        
                <label for="opis">Opis kierunku:</label><br>
                <textarea id="opis" name="opis" rows="4" cols="50" required></textarea><br><br>
                <input type="submit" value="Dodaj kierunek">
        </form>

        <form method="POST" action="/admin">
            <button name="view" value="grupy" type="submit">Powrót</button>
        </form>
    </div>
<!--------------------------------------------------------------------KALENDARZ-------------------------------------------------------------------->
    <div class="content {% if selected_view == 'calendar' %}visible{% endif %}">
        <h2>Kalendarz - {{ month_name }} {{ year }}</h2>

        <form method="POST">
            <div class="month-nav">
                <button name="action" value="prev">Poprzedni miesiąc</button>
                <button name="action" value="next">Następny miesiąc</button>
            </div>
            <input type="hidden" name="year" value="{{ year }}">
            <input type="hidden" name="month" value="{{ month }}">
        </form>

        {% if month_calendar %}
            <table>
                <thead>
                    <tr>
                        <th>Pon</th>
                        <th>Wt</th>
                        <th>Śr</th>
                        <th>Czw</th>
                        <th>Pt</th>
                        <th>Sob</th>
                        <th>Ndz</th>
                    </tr>
                </thead>
                <tbody>
                    {% for week in month_calendar %}
                    <tr>
                        {% for day in week %}
                        <td>
                            {% if day != 0 %}
                                <strong>{{ day }}</strong>
                                {% set zajecie_data = year ~ '-' ~ ('0' ~ month if month < 10 else month) ~ '-' ~ ('0' ~ day if day < 10 else day) %}
                                
                                <!-- Wyświetlanie zajęć -->
                                {% if zajecie_data in zajecia_sorted %}
                                    {% for zajecie in zajecia_sorted[zajecie_data] %}
                                    {% for grupa in grupy %}
                                        {% if grupa.id == zajecie.grupa_id | int %}
                                            {% for przedmiot in przedmioty %}
                                                {% if przedmiot.id == zajecie.przedmiot_id | int %}
                                                    <div class="event">
                                                        <div class="event-info">
                                                            <span class="event-name"><h3>Zajęcia</h3>
                                                                <b>{{ zajecie.rozpoczecie[11:16] }} - {{ zajecie.zakonczenie[11:16] }}</b> <br>
                                                                
                                                                {{ przedmiot.nazwa }}<br>
                                                            </span>
                                                            <div class="additional-info">
                                                                <strong>Sala:</strong> {{ zajecie.sala }}<br>
                                                                {% for wykladowca in users %}
                                                                    {% if wykladowca.id == przedmiot.wykladowca_id | int %}
                                                                        <strong>Grupa:</strong> 
                                                                        {{ grupa.nazwa }}
                                                                        <br>
                                                                        <strong>Wykładowca:</strong> 
                                                                        {{ wykladowca.imie }} {{ wykladowca.nazwisko }}
                                                                        <br>
                                                                        <strong>Rodzaj:</strong>
                                                                        {{ zajecie.rodzaj }}
                                                                    {% endif %}
                                                                {% endfor %}
                                                                
                                                                <br>
                                                                        <form method="POST" action="{{ url_for('geekoczelnia.delete_zajecie', zajecie_id=zajecie.id) }}" style="display: inline;">
                                                                            <button type="submit" onclick="return confirm('Czy na pewno chcesz usunąć zajęcie?')">Usuń</button>
                                                                            <input type="hidden" name="view" value="calendar">
                                                                        
                                                                        </form>
                                                                
                                                            </div>
                                                            
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                    {% endfor %}
                                {% endif %}
                                {% set egzamin_data = year ~ '-' ~ ('0' ~ month if month < 10 else month) ~ '-' ~ ('0' ~ day if day < 10 else day) %}
                                <!-- Wyświetlanie egzaminów -->
                                {% if egzamin_data in egzaminy_sorted %}
                                    {% for egzamin in egzaminy_sorted[egzamin_data] %}
                                    {% for grupa in grupy %}
                                        {% if grupa.id == egzamin.grupa_id | int %}
                                            {% for przedmiot in przedmioty %}
                                                {% if przedmiot.id == egzamin.przedmiot_id | int %}
                                                    <div class="exam">
                                                        <div class="exam-info">
                                                            <span class="exam-name"><h3>Egzamin</h3>
                                                                <b>{{ egzamin.data[11:16] }}</b><br>
                                                                {{ przedmiot.nazwa }}<br>
                                                            </span>
                                                            <div class="additional-info">
                                                                <strong>Grupa:</strong> 
                                                                {% for wykladowca in users %}
                                                                    {% if wykladowca.id == przedmiot.wykladowca_id | int %}
                                                                        {{ grupa.nazwa }}
                                                                    {% endif %}
                                                                {% endfor %}<br>
                                                                <strong>Wykładowca:</strong> 
                                                                    {% for wykladowca in users %}
                                                                        {% if wykladowca.id == przedmiot.wykladowca_id | int %}
                                                                            {{ wykladowca.imie }} {{ wykladowca.nazwisko }}
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                
                                                                        <br>
                                                                        <form method="POST" action="{{ url_for('geekoczelnia.delete_egzamin', egzamin_id=egzamin.id) }}" style="display: inline;">
                                                                            <button type="submit" onclick="return confirm('Czy na pewno chcesz usunąć zajęcie?')">Usuń</button>
                                                                            <input type="hidden" name="view" value="calendar">
                                                                        
                                                                        </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                    {% endfor %}
                                {% endif %}

                            {% endif %}
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>

<!--------------------------------------------------------------------LISTA PRZEDMIOTÓW-------------------------------------------------------------------->
    <div class="content {% if selected_view == 'przedmioty' %}visible{% endif %}">

        <form method="POST" action="/admin">
            <button name="view" value="add_przedmiot" type="submit">Dodaj nowy przedmiot</button>
        </form>

        <h2>Lista przedmiotów</h2>

        <table border="1" cellpadding="5" cellspacing="0">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nazwa</th>
                    <th>Wykładowca</th>
                    <th>ECTS</th>
                    <th>Opis</th>
                </tr>
            </thead>
            <tbody>
                {% for przedmiot in przedmioty %}
                <tr>
                    <td>{{ przedmiot.id }}</td>
                    <td>{{ przedmiot.nazwa }}</td>
                    <td>
                        {% for user in users %}
                            {% if user.id == przedmiot.wykladowca_id | int %}
                                {{ user.imie }} {{ user.nazwisko }}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ przedmiot.ects }}</td>
                    <td>{{ przedmiot.opis }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>
<!--------------------------------------------------------------------DODAWANIE PRZEDMIOTU-------------------------------------------------------------------->

    <div class="content {% if selected_view == 'add_przedmiot' %}visible{% endif %}">
        <form method="POST" action="/add_przedmiot">
            <label for="nazwa">Nazwa przedmiotu:</label><br>
            <input type="text" id="nazwa" name="nazwa" required><br><br>
        
            <label for="wykladowca">Wykładowca:</label><br>
            <select name="wykladowca" id="wykladowca" required>
                {% for user in users %}
                {% if user.rola == "Wykładowca" %}
                <option value="{{ user.id }}">{{ user.imie }} {{ user.nazwisko }}</option>
                {% endif %}
                {% endfor %}
            </select><br><br>
        
            <label for="ects">Ilość ECTS:</label><br>
            <input type="number" id="ects" name="ects" required><br><br>

            <label for="egzamin">Egzamin: </label>
            <select name="egzamin" id="egzamin">
                <option value="Tak">Tak</option>
                <option value="Nie">Nie</option>
            <br>
            </select> <br><br>
        
            <label for="opis">Opis:</label><br>
            <textarea id="opis" name="opis" rows="4" cols="50" required></textarea><br><br>
            <input type="submit" value="Dodaj przedmiot">
        </form>

        <form method="POST" action="/admin">
            <button name="view" value="grupy" type="submit">Powrót</button>
        </form>
    </div>




<!--------------------------------------------------------------------LISTA GRUP-------------------------------------------------------------------->
    <div class="content {% if selected_view == 'grupy' %}visible{% endif %}">

        <form method="POST" action="/admin">
            <button name="view" value="add_grupa" type="submit">Dodaj nową grupę</button>
        </form>

        <h2>Lista grup</h2>
        <table border="1" cellpadding="5" cellspacing="0">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nazwa</th>
                    <th>Semestr</th>
                    <th>Kierunek</th>
                    <th>Przedmioty</th>
                    <th>Studenci</th>
                </tr>
            </thead>
            <tbody>
                {% for grupa in grupy %}
                <tr>
                    <td>{{ grupa.id }}</td>
                    <td>{{ grupa.nazwa }}</td>
                    <td>{{ grupa.semestr }}</td>
                    <td>
                        {% for kierunek in kierunki %}
                            {% if kierunek.id == grupa.kierunek| int %}
                                <div>{{ kierunek.nazwa }}</div>
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for przedmiot in przedmioty %}
                            {% if przedmiot.id|string in grupa.przedmioty %}
                                <div>{{ przedmiot.nazwa }}</div>
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for user in users %}
                            {% if user.grupa == grupa.id | int %}
                                <div>{{ user.email }}</div>
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

<!--------------------------------------------------------------------DODAWANIE GRUPY-------------------------------------------------------------------->


    <div class="content {% if selected_view == 'add_grupa' %}visible{% endif %}">
        <form method="POST" action="/add_grupa">
            <label for="typ">Nazwa grupy</label><br>
            <input type="text" id="nazwa" name="nazwa" required><br><br>
            <label for="semestr">Semestr:</label><br>
            <input type="text" id="semestr" name="semestr" required><br><br>
            <label for="kierunek">Kierunek:</label>
            <select name="kierunek" id="kierunek" required>
                {% for kierunek in kierunki %}
                <option value="{{ kierunek.id }}">{{ kierunek.nazwa }}, {{ kierunek.typ }}</option>
            {% endfor %}
            </select><br>
            <label>Przedmioty:</label><br>
            {% for przedmiot in przedmioty %}
                <input type="checkbox" id="przedmiot_{{ przedmiot.id }}" name="przedmioty" value="{{ przedmiot.id }}">
                <label for="przedmiot_{{ przedmiot.id }}">{{ przedmiot.nazwa }}</label><br>
            {% endfor %}
            <br>
            <input type="submit" value="Dodaj grupe">
        </form>

        <form method="POST" action="/admin">
            <button name="view" value="grupy" type="submit">Powrót</button>
        </form>
    </div>




<!--------------------------------------------------------------------LISTA ZAJĘĆ-------------------------------------------------------------------->
    <div class="content {% if selected_view == 'zajecia' %}visible{% endif %}">

        <h2>Lista Zajęć</h2>

        <form method="POST" action="/admin">
            <button name="view" value="add_zajecie" type="submit">Dodaj nowe zajęcie</button>
        </form>

        <table border="1" cellpadding="5" cellspacing="0">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Przedmiot</th>
                    <th>Rodzaj</th>
                    <th>Grupa</th>
                    <th>Wykładowca</th>
                    <th>Sala</th>
                    <th>Data</th>
                    <th>Godziny</th>
                    <th>Akcje</th>
                </tr>
            </thead>
            <tbody>
                {% for zajecie in zajecia %}
                <tr>
                    <td>{{ zajecie.id }}</td>
                    <td>
                        {% for przedmiot in przedmioty %}
                            {% if przedmiot.id == zajecie.przedmiot_id | int %}
                                {{ przedmiot.nazwa }}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {{ zajecie.rodzaj }}
                    </td>
                    <td>
                        {% for grupa in grupy %}
                            {% if grupa.id == zajecie.grupa_id | int %}
                                {{ grupa.nazwa }}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for przedmiot in przedmioty %}

                            {% if przedmiot.id == zajecie.przedmiot_id | int %}
                                {% for user in users %}
                                    {% if user.id == przedmiot.wykladowca_id | int %}
                                        {{ user.imie }} {{ user.nazwisko }}
                                    {% endif %}
                                {%endfor%}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ zajecie.sala }}</td>
                    <td>{% if zajecie.rozpoczecie %}
                        {{ zajecie.rozpoczecie.split('T')[0] }}
                    {% else %}
                        Brak danych
                    {% endif %}</td>
                    <td>
                        {% if zajecie.rozpoczecie and zajecie.zakonczenie %}
                            {% set godzina_rozpoczecia = zajecie.rozpoczecie.split('T')[1][:5] %}
                            {% set godzina_zakonczenia = zajecie.zakonczenie.split('T')[1][:5] %}
                            {{ godzina_rozpoczecia }} - {{ godzina_zakonczenia }}
                        {% else %}
                            Brak danych
                        {% endif %}
                    </td>
                    <td>
                        <form method="POST" action="{{ url_for('geekoczelnia.delete_zajecie', zajecie_id=zajecie.id) }}" style="display: inline;">
                            <button type="submit" onclick="return confirm('Czy na pewno chcesz usunąć zajęcie?')">Usuń</button>
                        </form>
                    </td>
                    
                
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
<!--------------------------------------------------------------------DODAWANIE ZAJĘĆ-------------------------------------------------------------------->

<div class="content {% if selected_view == 'add_zajecie' %}visible{% endif %}">
    <form method="POST" action="/add_zajecie">

        <label for="grupa_id">Grupa</label><br>
        <select name="grupa_id" id="grupa_id">
            <!-- Opcje grup będą generowane dynamicznie przez JavaScript -->
        </select><br>
        <label for="przedmiot_id">Przedmiot</label><br>
        <select name="przedmiot_id" id="przedmiot_id" required>
            <!-- Opcje przedmiotów będą generowane dynamicznie przez JavaScript -->
        </select><br>
        <label for="rodzaj">Rodzaj</label><br>
        <select name="rodzaj" id="rodzaj" required>
            <option value="Wykład">Wykład</option>
            <option value="Laboratorium">Laboratorium</option>
        </select><br>

        <label for="sala">Nr sali/Teams</label><br>
        <input type="text" name="sala" id="sala" required><br>
    
        <label for="start_date">Data zajęć: (trwają półtorej godziny)</label><br>
        <input type="datetime-local" id="rozpoczecie" name="rozpoczecie" required><br>

        <label for="czestotliwosc">Częstotliwość zajęć</label><br>
        <select name="czestotliwosc" id="czestotliwosc" required>
            <option value="tydzien">Co tydzień</option>
            <option value="dwa_tygodnie">Co dwa tygodnie</option>
        </select><br>
        
        <label for="ilosc">Ile razy dodać to zajęcie</label><br>
        <input type="number" name="ilosc" id="ilosc" required><br>

    
        <input type="submit" value="Dodaj zajęcie">
    </form>

    <form method="POST" action="/admin">
        <button name="view" value="zajecia" type="submit">Powrót</button>
    </form>
</div>


<!--------------------------------------------------------------------LISTA EGZAMINÓW-------------------------------------------------------------------->
<div class="content {% if selected_view == 'egzaminy' %}visible{% endif %}">



        <h2>Lista Egzaminów</h2>

        <table border="1" cellpadding="5" cellspacing="0">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Przedmiot</th>
                    <th>Grupa</th>
                    <th>Wykładowca</th>
                    <th>Data</th>
                    <th>Godziny</th>
                    <th>Akcje</th>

                </tr>
            </thead>
            <tbody>
                {% for egzamin in egzaminy_data %}
                <tr>
                    <td>{{ egzamin.id }}</td>
                    <td>
                        {% for przedmiot in przedmioty %}
                            {% if przedmiot.id == egzamin.przedmiot_id | int %}
                                {{ przedmiot.nazwa }}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for grupa in grupy %}
                            {% if grupa.id == egzamin.grupa_id | int %}
                                {{ grupa.nazwa }}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for przedmiot in przedmioty %}

                            {% if przedmiot.id == egzamin.przedmiot_id | int %}
                                {% for user in users %}
                                    {% if user.id == przedmiot.wykladowca_id | int %}
                                        {{ user.imie }} {{ user.nazwisko }}
                                    {% endif %}
                                {%endfor%}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>{% if egzamin.data %}
                        {{ egzamin.data.split('T')[0] }}
                    {% else %}
                        Brak danych
                    {% endif %}</td>
                    <td>
                        {% if egzamin.data %}
                            {% set godzina_rozpoczecia = egzamin.data.split('T')[1][:5] %}
                            {{ godzina_rozpoczecia }}
                        {% else %}
                            Brak danych
                        {% endif %}
                    </td>
                    <td>
                        <form method="POST" action="{{ url_for('geekoczelnia.delete_egzamin', egzamin_id=egzamin.id) }}" style="display: inline;">
                            <button type="submit" onclick="return confirm('Czy na pewno chcesz usunąć ten egzamin?')">Usuń</button>
                        </form>
                        
                    </td>
                
                </tr>
                {% endfor %}
            </tbody>
        </table>
</div>


<!--------------------------------------------------------------------STATYSTYKI-------------------------------------------------------------------->

    <div class="content {% if selected_view == 'statystyki' %}visible{% endif %}">
        <h2>Ogólne statystyki uczelni</h2>
        <table>
            <thead>
                <tr>
                    <th>Liczba studentów</th>
                    <th>Średnia ocen</th>
                    <th>Średni wynik egzaminu</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> {{ wszyscy_uzytkownicy }}</td>
                    <td>{{ avg_ocena }}</td>
                    <td>{{ avg_egzamin }}%</td>
                </tr>
            </tbody>

        </table>



        <h2>Staystki uczelni na danym kierunku</h2>

        <table>
            <thead>
                <tr>
                    <th>Nazwa Kierunku</th>
                    <th>Liczba studentów</th>
                    <th>Średnia ocen</th>
                    <th>Średni wynik egzaminu</th>
                </tr>
            </thead>
            <tbody>
                {% for kierunek in kierunki %}
                    {% set liczba = uzytkownicy_na_kierunku.get(kierunek.id) %}
                    {% set ocena = avg_ocena_kierunek.get(kierunek.id) %}
                    {% set wynik = avg_egzamin_kierunek.get(kierunek.id) %}
                    <tr>
                        <td>{{ kierunek.nazwa }}, <b>{{kierunek.typ}}</b></td>
                        <td>{{ liczba if liczba is not none else '0' }}</td>
                        <td>{{ ocena if ocena is not none else 'Brak danych' }}</td>
                        <td>{{ wynik ~ '%' if wynik is not none else 'Brak danych' }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

<!--------------------------------------------------------------------WIADOMOŚCI-------------------------------------------------------------------->
<div class="content {% if selected_view == 'wiadomosci' %}visible{% endif %}">

    <div class="wiadomosci">

        <form method="POST" action="/admin">
        <input type="hidden" name="form_id" value="wiadomosci">
        <button name="wiadomosci" class="{% if wiadomosci == 'odebrane' %}wiadomosc_wybrana{% endif %}" value="odebrane" type="submit" ><h2>Twoje wiadomości</h2></button>
        <button name="wiadomosci" class="{% if wiadomosci == 'wyslane' %}wiadomosc_wybrana{% endif %}" value="wyslane" type="submit" ><h2>Wysłane wiadomości</h2></button>
        <button name="wiadomosci" class="{% if wiadomosci == 'wyslij_wiadomosc' %}wiadomosc_wybrana{% endif %}" value="wyslij_wiadomosc" type="submit" >Wyślij wiadomość</button>
        <button name="wiadomosci" class="{% if wiadomosci == 'wyslij_wiadomosc_do_roli' %}wiadomosc_wybrana{% endif %}" value="wyslij_wiadomosc_do_roli" type="submit" >Wyślij wiadomość do danej roli</button>

        </form> <br>

        <ul class="content {% if wiadomosci == 'odebrane' %}lista_wiadomosci{% endif %}">
            <form method="POST" action="/admin">
                <input type="hidden" name="form_id" value="odebrane">
                <input type="hidden" name="wiadomosci" value="odebrane">
                {% for message in messages|reverse %}
                            <li>
                                <button name="wiadomosci_id_odebranej" class="{% if wiadomosci_id_odebranej | int == message.id %}wiadomosc_wybrana{% endif %}" value="{{ message.id }}" type="submit">{{message.date}} <br> <b> Od: {{message.sender}}</b><br><b>{{ message.title }}</b></button>
                            </li>
                {% endfor %}
            </form>
        
        </ul>

        <ul class="content {% if wiadomosci == 'wyslane' %}lista_wiadomosci{% endif %}">
            <form method="POST" action="/admin">
                <input type="hidden" name="form_id" value="wyslane">
                <input type="hidden" name="wiadomosci" value="wyslane">
                {% for message_sent in sent_messages|reverse %}
                            <li>
                                <button name="wiadomosci_id_wyslanej" class="{% if wiadomosci_id_wyslanej| int == message_sent.id %}wiadomosc_wybrana{% endif %}" value="{{ message_sent.id }}" type="submit">{{message_sent.date}} <br> <b> Do: {{message_sent.recipient}}</b><br><b>{{ message_sent.title }}</b></button>
                            </li>
                {% endfor %}
            </form>
        </ul>
        
            

    </div>
    
    {% for message in messages %}
    
    <div class="content {% if wiadomosci_id_odebranej | int == message.id %}wiadomosc{% endif %}">

        <h2>{{ message.title }}</h2>
        <h4>{{ message.date }} </h4>
        <h4>Od: {{ message.sender }}</h4>
        <h4>Do: {{ message.recipient }}</h4>

        {{ message.message|replace('\n', '<br>')|safe }}
        
    </div>
    {% endfor %}


    {% for message_sent in sent_messages %}
    
    <div class="content {% if wiadomosci_id_wyslanej| int == message_sent.id %}wiadomosc{% endif %}">

        <h2>{{ message_sent.title }}</h2>
        <h4>{{ message_sent.date }} </h4>
        <h4>Od: {{ message_sent.sender }}</h4>
        <h4>Do: {{ message_sent.recipient }}</h4>

        {{ message_sent.message|replace('\n', '<br>')|safe }}
        
    </div>
    {% endfor %}



    <br>

    <div class="content {% if wiadomosci == 'wyslij_wiadomosc' %}wiadomosc{% endif %}">
    <form method="POST" action="/send_message">
        <label for="recipent">Email odbiorcy</label><br>
        <input type="text" name="recipent" id="recipent"><br>
        <label for="title">Tytuł</label><br>
        <input type="text" name="title" id="title"><br>
        <input type="hidden" name="sender" value="{{ user.email }}">
        <label for="message">Wiadomość</label><br>
        <textarea name="message" rows="8" cols="50" id="message"></textarea><br>
        <button type="submit">Wyślij</button>
    </form>
    </div>


    <div class="content {% if wiadomosci == 'wyslij_wiadomosc_do_roli' %}wiadomosc{% endif %}">
        <form method="POST" action="/send_bulk_message">
            <label for="recipents">Grupa do wiadomości</label><br>
            <select name="recipents" id="recipents">
                <option value="Wykładowca">Wykładowcy</option>
                <option value="Student">Studenci</option>
            </select><br>
            <label for="title">Tytuł</label><br>
            <input type="text" name="title" id="title"><br>
            <input type="hidden" name="sender" value="{{ user.email }}">
            <label for="message">Wiadomość</label><br>
            <textarea name="message" rows="8" cols="50" id="message"></textarea><br>    
            <button type="submit">Wyślij</button>
        </form>
    </div>
    
    
</div>












<!--------------------------------------------------------------------EDYCJA DANYCH-------------------------------------------------------------------->
    <div class="content {% if selected_view == 'dane' %}visible{% endif %}">
        <h2>Zaktualizuj zdjęcie</h2>
        <form action="/upload_picture" method="post" enctype="multipart/form-data">
            <input type="file" name="file"><br>
            <button type="submit">Prześlij</button>
        </form>

        <h2>Zmień hasło</h2>
        <form action="/change_password" method="post">
            <label for="current_password">Aktualne hasło</label><br>
            <input type="password" name="current_password" id="current_password"><br>
            <label for="new_password">Nowe hasło</label><br>
            <input type="password" name="new_password" id="new_password"><br>
            <button type="submit">Zmień hasło</button>
        </form>

    </div>

</div>

</body>
</html>


<script>
    Promise.all([
        fetch('/data/grupy.json').then(grupy => grupy.json()),
        fetch('/data/przedmioty.json').then(przedmioty => przedmioty.json())
    ])
    .then(([grupy, przedmioty]) => {
        const grupaSelect = document.getElementById("grupa_id");
        const przedmiotSelect = document.getElementById("przedmiot_id");

        // Wypełnianie selectów
        grupaSelect.innerHTML = grupy.map(grupa => `<option value="${grupa.id}">${grupa.nazwa}</option>`);
        
        // Dodaj "Wybierz przedmiot" na początku listy przedmiotów
        przedmiotSelect.innerHTML = `<option value="" disabled selected>Wybierz przedmiot</option>` + 
                                    przedmioty.map(przedmiot => `<option value="${przedmiot.id}">${przedmiot.nazwa}</option>`);

        // Nasłuchiwane zdarzenie na zmianę grupy
        grupaSelect.addEventListener("change", () => {
            const przypisanePrzedmioty = grupy.find(grupa => grupa.id == grupaSelect.value)?.przedmioty || [];
            przedmiotSelect.value = "";  // Resetowanie przedmiotu
            [...przedmiotSelect.options].forEach(option => option.style.display = przypisanePrzedmioty.includes(option.value) ? "block" : "none");
        });

        grupaSelect.dispatchEvent(new Event("change")); // Uruchomienie na starcie

    })
</script>