<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GEEKoczelnia</title>
    <link rel="stylesheet" type="text/css" href="/static/css/contact.css">
    <link rel="icon" href="/static/css/favicon.png" type="image/x-icon">
</head>
<body>
    <div class="panel">
        <div class="contact">
            <h1>Contact us:</h1>
            <p>e-mail: <b>geekoczelnia@gmail.com</b></p>
        </div>
    </div>
</body>
</html>
