<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel studenta</title>
    <link rel="icon" href="/static/css/favicon.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>


<body>

<!--------------------------------------------------------------------HEADER------------------------------------------------------------------->

<header>


    <div class="info">
        <img src="/static/css/geekoczelnia banner.png" alt="GEEKoczelnia banner">
    </div>

    <div class="flash">
    {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flash-messages">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
    {% endwith %}
    </div>

    <div class="contact">
        <form method="POST" action="/contact">
            <button type="submit">Kontakt</button>
        </form>
    </div>

</header>



<!--------------------------------------------------------------------GŁÓWNY PANEL-------------------------------------------------------------------->
<div class="container">
    <div class="panel" >
        <div class="avatar">
            <img src="{{ zdjecie }}" alt="Przesłane zdjęcie">
        </div>
        <h1>Witaj, {{ user.imie }} {{ user.nazwisko }}!</h1>
        {% if user.kierunek != "" %}
            <p><b>Kierunek</b><br>{{ kierunek.nazwa }}</p>
            <p><b>Grupa</b> <br> {{ grupa.nazwa }}</p>
        {% endif %}
        <form method="POST" action="/dashboard_student">
            <button name="view" value="home" type="submit">Strona główna</button>
            <button name="view" value="zajecia" type="submit">Zajecia</button>
            <button name="view" value="oceny" type="submit">Oceny</button>
            <button name="view" value="payment" type="submit">Płatności</button>
            <button name="view" value="calendar" type="submit">Kalendarz</button>
            <button name="view" value="wiadomosci" type="submit">Wiadomości</button>
            <button name="view" value="dane" type="submit">Edytuj dane</button>
        </form><br>
        <form action="{{ url_for('geekoczelnia.logout') }}" method="post">
            <button type="submit">Wyloguj się</button>
        </form>


    </div>
<!--------------------------------------------------------------------HOME-------------------------------------------------------------------->
    <div class="content {% if selected_view == 'home' %}visible{% endif %}">
        <h2>Strona główna</h2>
        <p>Wybierz opcję z panelu, aby zobaczyć odpowiedni widok.</p>

        
        {% if user.kierunek == "" %}

        <form method="POST" action="/dashboard_student">
            <button name="view" value="register" type="submit">Zarejestruj się na kierunek</button>
        </form>
        {% endif %}


    </div>
<!--------------------------------------------------------------------REJESTRACJA NA KIERUNEK-------------------------------------------------------------------->

    <div class="content {% if selected_view == 'register' %}visible{% endif %}">
        <h2>Wybierz na jaki kierunek chcesz się zarejestrować</h2>

        
        {% if user.kierunek == "" %}

      
        <form method="POST" action="/rejestracja_na_kierunek">
            <label for="kierunek">Kierunek:</label><br>
            <select name="kierunek" id="kierunek" required>
                {% for kierunek in kierunki %}
                <option value="{{ kierunek.id }}">{{ kierunek.nazwa }}, {{ kierunek.typ }}</option>
            {% endfor %}
            </select><br>
            
    
            <input type="submit" value="Zarejestruj">
        </form>

        {% endif %}

    </div>


<!--------------------------------------------------------------------LISTA ZAJĘĆ-------------------------------------------------------------------->
    <div class="content {% if selected_view == 'zajecia' %}visible{% endif %}">
    
    {% if user.kierunek == "" %}
        <h2>Nie jesteś na żadnym kierunku, wróć na stronę główną aby zarejestrować się na kierunek</h2>
    {% else %}
        <h1>Lista twoich zajęć</h1>

        <table border="1" cellpadding="5" cellspacing="0">
            <thead>
                <tr>
                    <th>Przedmiot</th>
                    <th>Wykładowca</th>
                    <th>Sala</th>
                    <th>Data</th>
                    <th>Godziny</th>
                </tr>
            </thead>
            <tbody>
                {% for zajecie in zajecia %}
                    {% if grupa.id == zajecie.grupa_id | int %}
                        <tr>
                            <td>
                                {% for przedmiot in przedmioty %}
                                    {% if przedmiot.id == zajecie.przedmiot_id | int %}
                                        {{ przedmiot.nazwa }}
                                    {% endif %}
                                {% endfor %}
                            </td>
                            
                            <td>
                                {% for przedmiot in przedmioty %}
                                    {% if przedmiot.id == zajecie.przedmiot_id | int %}
                                        {% for wykladowca in wykladowcy %}
                                            {% if wykladowca.id == przedmiot.wykladowca_id | int %}
                                                {{ wykladowca.imie }} {{ wykladowca.nazwisko }}
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            </td>
        
                            <td>{{ zajecie.sala }}</td>
        
                            <td>
                                {% if zajecie.rozpoczecie %}
                                    {{ zajecie.rozpoczecie.split('T')[0] }}
                                {% else %}
                                    Brak danych
                                {% endif %}
                            </td>
        
                            <td>
                                {% if zajecie.rozpoczecie and zajecie.zakonczenie %}
                                    {% set godzina_rozpoczecia = zajecie.rozpoczecie.split('T')[1][:5] %}
                                    {% set godzina_zakonczenia = zajecie.zakonczenie.split('T')[1][:5] %}
                                    {{ godzina_rozpoczecia }} - {{ godzina_zakonczenia }}
                                {% else %}
                                    Brak danych
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    {%endif%}
    </div>

<!--------------------------------------------------------------------LISTA OCEN-------------------------------------------------------------------->
    <div class="content {% if selected_view == 'oceny' %}visible{% endif %}">
    
        {% if user.kierunek == "" %}
            <h2>Nie jesteś na żadnym kierunku, wróć na stronę główną aby zarejestrować się na kierunek</h2>
        {% else %}

            <h1>Lista twoich przedmiotów</h1>
            <table border="1" cellpadding="5" cellspacing="0">
                <thead>
                    <tr>
                        <th>Przedmiot</th>
                        <th>Wykładowca</th>
                        <th>Ocena</th>
                        <th>Egzamin</th>
                        <th>Wynik z egzaminu</th>
                    </tr>
                </thead>
                <tbody>
                    {% for przedmiot_id in grupa.przedmioty %}
                        {% for przedmiot in przedmioty %}
                            {% if przedmiot.id | string == przedmiot_id %}
                                <tr>
                                    <td>{{ przedmiot.nazwa }}</td>
                                    <td>
                                    {% for wykladowca in wykladowcy %}
                                        {% if wykladowca.id == przedmiot.wykladowca_id | int %}
                                            {{ wykladowca.imie }} {{ wykladowca.nazwisko }}
                                        {% endif %}
                                    {% endfor %}
                                    </td>
                                    <td>
                                    {% for ocena in oceny1 %}
                                        {% if ocena.przedmiot_id | int == przedmiot.id %}
                                            {{ ocena.ocena }}
                                        {% endif %}
                                    {% endfor %}
                                    </td>
                                    
                                    <td>{{ przedmiot.egzamin }}</td>
                                    <td>
                                        {% for egzamin in egzaminy %}
                                            {% for wynik in egzaminy_wyniki %}
                                                {% if wynik and przedmiot.id == egzamin.przedmiot_id |int and wynik.student_id | int == user.id %}
                                                    {{ wynik.wynik }}%
                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
            {%endif%}
    </div>
<!--------------------------------------------------------------------PŁATNOŚCI-------------------------------------------------------------------->
    <div class="content {% if selected_view == 'payment' %}visible{% endif %}">
        
        
        <div class="zasil">
            <h2>Zasil konto</h2>
            <form method="POST" action="/make_payment">
                <label for="title">Tytuł:</label>
                <input type="text" name="title" id="title" required><br>
                
                <label for="ammount">Kwota:</label>
                <input type="number" name="ammount" id="ammount" required><br>
                <input type="hidden" name="view" value="payment" required>
                <input type="submit" value="Zasil konto">
            </form>
        </div>

        <div class="finanse">
            <h2>Finanse</h2>
            <p>Twoje saldo wynosi <b>{{ saldo }}</b> zł.</p>
        </div>

        
        <div class="historia_wplat">
            <h2>Historia wpłat</h2>
            <table border="1" cellpadding="5" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID transakcji</th>
                        <th>Data transakcji</th>
                        <th>Tytuł transakcji</th>
                        <th>Kwota</th>
                    </tr>
                </thead>
                <tbody>
                    {% for payment in payments %}
                    <tr>
                        <td>{{ payment.id }}</td>
                        <td>{{ payment.date }}</td>
                        <td>{{ payment.tytuł }}</td>
                        <td>{{ payment.kwota }} zł</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

<!--------------------------------------------------------------------KALENDARZ-------------------------------------------------------------------->
    <div class="content {% if selected_view == 'calendar' %}visible{% endif %}">
        <h2>Kalendarz - {{ month_name }} {{ year }}</h2>

        <form method="POST">
            <div class="month-nav">
                <button name="action" value="prev">Poprzedni miesiąc</button>
                <button name="action" value="next">Następny miesiąc</button>
            </div>
            <input type="hidden" name="year" value="{{ year }}">
            <input type="hidden" name="month" value="{{ month }}">
        </form>

        {% if month_calendar %}
            <table>
                <thead>
                    <tr>
                        <th>Pon</th>
                        <th>Wt</th>
                        <th>Śr</th>
                        <th>Czw</th>
                        <th>Pt</th>
                        <th>Sob</th>
                        <th>Ndz</th>
                    </tr>
                </thead>
                <tbody>
                    {% for week in month_calendar %}
                    <tr>
                        {% for day in week %}
                        <td>
                            {% if day != 0 %}
                                <strong>{{ day }}</strong>
                                <!-- Wyświetlanie zajęć -->
                                {% set zajecie_data = year ~ '-' ~ ('0' ~ month if month < 10 else month) ~ '-' ~ ('0' ~ day if day < 10 else day) %}
                                {% if zajecie_data in zajecia_sorted %}
                                    {% for zajecie in zajecia_sorted[zajecie_data] %}
                                        {% if grupa.id == zajecie.grupa_id | int %}
                                            {% for przedmiot in przedmioty %}
                                                {% if przedmiot.id == zajecie.przedmiot_id | int %}
                                                    <div class="event">
                                                        <div class="event-info">
                                                            <span class="event-name">
                                                                <h3>Zajęcia</h3>
                                                                <b>{{ zajecie.rozpoczecie[11:16] }} - {{ zajecie.zakonczenie[11:16] }}</b> <br>
                                                                {{ przedmiot.nazwa }} <br> 
                                                                <i>{{ zajecie.rodzaj }}</i>
                                                            </span>
                                                            <div class="additional-info">
                                                                <strong>Sala:</strong> {{ zajecie.sala }}<br>

                                                                <strong>Wykładowca:</strong> 
                                                                {% for wykladowca in users %}
                                                                    {% if wykladowca.id == przedmiot.wykladowca_id | int %}
                                                                        {{ wykladowca.imie }} {{ wykladowca.nazwisko }} <br>
                                                                        <strong>Rodzaj:</strong>
                                                                        {{ zajecie.rodzaj }}
                                                                        
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </div>
                                                        </div>  
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endif %}

                            <!-- Wyświetlanie egzaminów -->                                
                            {% set egzamin_data = year ~ '-' ~ ('0' ~ month if month < 10 else month) ~ '-' ~ ('0' ~ day if day < 10 else day) %}
                                {% if egzamin_data in egzaminy_sorted %}
                                    {% for egzamin in egzaminy_sorted[egzamin_data] %}
                                        {% if grupa.id == egzamin.grupa_id | int %}
                                            {% for przedmiot in przedmioty %}
                                                {% if przedmiot.id == egzamin.przedmiot_id | int %}
                                                    <div class="exam">
                                                        <div class="exam-info">
                                                            <span class="exam-name">
                                                                <h3>Egzamin</h3>
                                                                <b>{{ egzamin.data[11:16] }}</b> <br>
                                                                {{ przedmiot.nazwa }}
                                                            </span>
                                                            <div class="additional-info">
                                                                <strong>Wykładowca:</strong> 
                                                                {% for wykladowca in users %}
                                                                    {% if wykladowca.id == przedmiot.wykladowca_id | int %}
                                                                        {{ wykladowca.imie }} {{ wykladowca.nazwisko }}
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </div>
                                                        </div>  
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>

<!--------------------------------------------------------------------WIADOMOŚCI-------------------------------------------------------------------->
<div class="content {% if selected_view == 'wiadomosci' %}visible{% endif %}">

    <div class="wiadomosci">

        <form method="POST" action="/dashboard_student">
        <input type="hidden" name="form_id" value="wiadomosci">
        <button name="wiadomosci" class="{% if wiadomosci == 'odebrane' %}wiadomosc_wybrana{% endif %}" value="odebrane" type="submit" ><h2>Twoje wiadomości</h2></button>
        <button name="wiadomosci" class="{% if wiadomosci == 'wyslane' %}wiadomosc_wybrana{% endif %}" value="wyslane" type="submit" ><h2>Wysłane wiadomości</h2></button>
        <button name="wiadomosci" class="{% if wiadomosci == 'wyslij_wiadomosc' %}wiadomosc_wybrana{% endif %}" value="wyslij_wiadomosc" type="submit" >Wyślij wiadomość</button>
        </form><br>

        <ul class="content {% if wiadomosci == 'odebrane' %}lista_wiadomosci{% endif %}">
            <form method="POST" action="/dashboard_student">
                <input type="hidden" name="form_id" value="odebrane">
                <input type="hidden" name="wiadomosci" value="odebrane">
                {% for message in messages|reverse %}
                            <li>
                                <button name="wiadomosci_id_odebranej" class="{% if wiadomosci_id_odebranej | int == message.id %}wiadomosc_wybrana{% endif %}" value="{{ message.id }}" type="submit">{{message.date}} <br> <b> Od: {{message.sender}}</b><br><b>{{ message.title }}</b></button>
                            </li>
                {% endfor %}
            </form>
        
        </ul>

        <ul class="content {% if wiadomosci == 'wyslane' %}lista_wiadomosci{% endif %}">
            <form method="POST" action="/dashboard_student">
                <input type="hidden" name="form_id" value="wyslane">
                <input type="hidden" name="wiadomosci" value="wyslane">
                {% for message_sent in sent_messages|reverse %}
                            <li>
                                <button name="wiadomosci_id_wyslanej" class="{% if wiadomosci_id_wyslanej | int == message_sent.id %}wiadomosc_wybrana{% endif %}" value="{{ message_sent.id }}" type="submit">{{message_sent.date}} <br> <b> Do: {{message_sent.recipient}}</b><br><b>{{ message_sent.title }}</b></button>
                            </li>
                {% endfor %}
            </form>
        </ul>
        
            

    </div>
    
    {% for message in messages %}
    
    <div class="content {% if wiadomosci_id_odebranej | int == message.id %}wiadomosc{% endif %}">

        <h2>{{ message.title }}</h2>
        <h4>{{ message.date }} </h4>
        <h4>Od: {{ message.sender }}</h4>
        <h4>Do: {{ message.recipient }}</h4>

        {{ message.message|replace('\n', '<br>')|safe }}
        
    </div>
    {% endfor %}


    {% for message_sent in sent_messages %}
    
    <div class="content {% if wiadomosci_id_wyslanej | int == message_sent.id %}wiadomosc{% endif %}">

        <h2>{{ message_sent.title }}</h2>
        <h4>{{ message_sent.date }} </h4>
        <h4>Od: {{ message_sent.sender }}</h4>
        <h4>Do: {{ message_sent.recipient }}</h4>

        {{ message_sent.message|replace('\n', '<br>')|safe }}
        
    </div>
    {% endfor %}



    <br>

    <div class="content {% if wiadomosci == 'wyslij_wiadomosc' %}wiadomosc{% endif %}">
    <form method="POST" action="/send_message">
        <label for="recipent">Email odbiorcy</label><br>
        <input type="text" name="recipent" id="recipent"><br>
        <label for="title">Tytuł</label><br>
        <input type="text" name="title" id="title"><br>
        <input type="hidden" name="sender" value="{{ user.email }}">
        <label for="message">Wiadomość</label><br>
        <textarea name="message" rows="8" cols="50" id="message"></textarea><br>
        <button type="submit">Wyślij</button>
    </form>
    </div>
    
    
</div>




<!--------------------------------------------------------------------EDYTUJ DANE-------------------------------------------------------------------->
    <div class="content {% if selected_view == 'dane' %}visible{% endif %}">
        <h2>Zaktualizuj zdjęcie</h2>
        <form action="/upload_picture" method="post" enctype="multipart/form-data">
            <input type="file" name="file"><br>
            <button type="submit">Prześlij</button>
        </form>
    
        <h2>Zmień hasło</h2>
        <form action="/change_password" method="post">
            <label for="current_password">Aktualne hasło</label><br>
            <input type="password" name="current_password" id="current_password"><br>
            <label for="new_password">Nowe hasło</label><br>
            <input type="password" name="new_password" id="new_password"><br>
            <button type="submit">Zmień hasło</button>
        </form>
    </div>



</div>

</body>
</html>
